<title>A simple dashboard</title>
<h1>Total number of the collected repositories</h1>
<h2>Python: {{pythonCount}}</h2>
<h2>Java: {{javaCount}}</h2>
<h2>C#: {{csharpCount}}</h2>
<h1>Number of the collected repositories with changes pushed during the last 60 seconds</h1>
<img src={{lineChartUrl}} alt="Chart" height="auto" width="50%">
<h1>Average number of stars</h1>
<img src={{barGraphUrl}} alt="Chart" height="auto" width="50%">
<h1>Top-10 most frequent words</h1>
<h2>Python</h2>
<p>{{pythonWord1}}, {{pythonWordCount1}}</p>
<p>{{pythonWord2}}, {{pythonWordCount2}}</p>
<p>{{pythonWord3}}, {{pythonWordCount3}}</p>
<p>{{pythonWord4}}, {{pythonWordCount4}}</p>
<p>{{pythonWord5}}, {{pythonWordCount5}}</p>
<p>{{pythonWord6}}, {{pythonWordCount6}}</p>
<p>{{pythonWord7}}, {{pythonWordCount7}}</p>
<p>{{pythonWord8}}, {{pythonWordCount8}}</p>
<p>{{pythonWord9}}, {{pythonWordCount9}}</p>
<p>{{pythonWord10}}, {{pythonWordCount10}}</p>

<h2>Java</h2>
<p>{{javaWord1}}, {{javaWordCount1}}</p>
<p>{{javaWord2}}, {{javaWordCount2}}</p>
<p>{{javaWord3}}, {{javaWordCount3}}</p>
<p>{{javaWord4}}, {{javaWordCount4}}</p>
<p>{{javaWord5}}, {{javaWordCount5}}</p>
<p>{{javaWord6}}, {{javaWordCount6}}</p>
<p>{{javaWord7}}, {{javaWordCount7}}</p>
<p>{{javaWord8}}, {{javaWordCount8}}</p>
<p>{{javaWord9}}, {{javaWordCount9}}</p>
<p>{{javaWord10}}, {{javaWordCount10}}</p>

<h2>C#</h2>
<p>{{csharpWord1}}, {{csharpWordCount1}}</p>
<p>{{csharpWord2}}, {{csharpWordCount2}}</p>
<p>{{csharpWord3}}, {{csharpWordCount3}}</p>
<p>{{csharpWord4}}, {{csharpWordCount4}}</p>
<p>{{csharpWord5}}, {{csharpWordCount5}}</p>
<p>{{csharpWord6}}, {{csharpWordCount6}}</p>
<p>{{csharpWord7}}, {{csharpWordCount7}}</p>
<p>{{csharpWord8}}, {{csharpWordCount8}}</p>
<p>{{csharpWord9}}, {{csharpWordCount9}}</p>
<p>{{csharpWord10}}, {{csharpWordCount10}}</p>